.card{
	display: none;
	margin: 50px;
}
#start{
	display: block;
}

#answerDiv{
	display: none;
}
body{
	text-align: center;
}

h1{
	margin: 20px;
	text-align: center;
}
#addEditDelete{
	display: none;
	margin:100px;
}
#play{
	display: block;
	margin-top:100px;
}
.btn{
	    padding: 10px 225px;	
}

.listDisplay{
	margin-top:50px;
}